<pre class="prettyprint">
// Example API 3 - Is it a Palindrome?
    
//server.js
function reverseString(str) {
    return str.split("").reverse().join("");
}
router.post('/palindrome', function(req, res) {
    // remove all non alphanumeric and conver to lowercase
    var word = req.body.palindromeWord.replace(/\W/g, '').toLowerCase();
    // check if string is the same if reversed
    if ( reverseString(word) == word ) {
        if (req.body.palindromeWord.length >= 2) {
            res.json({msg:"It's a palindrome!"});
        } else {
            res.json({msg:"You need a string that is at least 2 characters long... try again."});
        }
    } else {
        res.json({msg:"It's not a palindrome."});  
    }
});

//client.js
function palindromeApi() {
    var data = {
        palindromeWord: document.getElementById("palindromeWord").value
        };
    $.ajax({
        type: "POST",
        url: '/api/palindrome',
        data: data,
        success: function(result) {
            document.getElementById("palindromeResult").innerHTML = result.msg;
        }
    });
}
</pre>