<pre class="prettyprint">
// Example API 1: Sum two numbers
    
//server.js
app.post('/api/add', function(req, res) {
    if ( (!isNaN(req.body.num1)) && (!isNaN(req.body.num2)) ) {
        //if both params are numbers => num1 + num2
        res.json({msg: "The answer is: " + (Number(req.body.num1) + Number(req.body.num2))});
    } else {
        res.json({msg:"Looks like you included a non-number... try again."});
    }
    
});

//client.js
function addApi() {
    var data = {
        num1: document.getElementById("num1").value,
        num2: document.getElementById("num2").value
        };
    $.ajax({
        type: "POST",
        url: '/api/add',
        data: data,
        success: function(result) {
            document.getElementById("answer").innerHTML = result.msg;
        }
    });
}

</pre>