.row
    .col-md-12.section-heading.text-center
        h2.to-animate My Portfolio
        p.to-animate If you want to see some code, you can view my 
            a(href="https://github.com/criewaldt") GitHub
            | .
        br
        .row
            .col-md-8.col-md-offset-2.subtext.to-animate
                h3 AdvertAPI.com
                    br
                    small Python - Flask, BeautifulSoup, Requests, AWS: DynamoDB, Lambda, and API Gateway, on PythonAnywhere
            .col-md-8.col-md-offset-2.subtext.to-animate
                small
                    strong A web-app to automate NakedApartments.com advertising via my Python NakedApartments SDK.
                br
                br
                small Some more info here
                hr
        .row
            .col-md-8.col-md-offset-2.subtext.to-animate
                h3 QuantiPoll.com
                    br
                    small JavaScript - Node/Express, Express-Sessions, Passport, Postgres/Sequelize, Angular, on Heroku
            .col-md-8.col-md-offset-2.subtext.to-animate
                small
                    strong A web-app for creating and voting on polls. 
                br
                hr
        .row
            .col-md-8.col-md-offset-2.subtext.to-animate
                h3 ChrisRiewaldt.com (this website)
                    br
                    small JavaScript - Node/Express, AWS: Lambda and API Gateway, on Heroku
            .col-md-8.col-md-offset-2.subtext.to-animate
                small
                    strong A web-app about me.
                br
                hr
        .row
            .col-md-8.col-md-offset-2.subtext.to-animate
                h3 ExchangeStreetBarber.com
                    br
                    small JavaScript - Node/Express, Vagaro Pro, on Heroku
            .col-md-8.col-md-offset-2.subtext.to-animate
                small
                    strong A business web-app created for Exchange Street Barber in Charleston, SC.
                br
                hr
        .row
            .col-md-8.col-md-offset-2.subtext.to-animate
                p and 
                    a(href="https://github.com/criewaldt") more
                    | ...