<pre class="prettyprint">
// Example API 2: Count word frequency via AWS Lambda
    
//server.js
// load my AWS endpoint, and request package
var awsEndpoints = require('../../creds.json');
var request = require('request');
router.post('/words', function(req, res) {
    var formData = {
        "url": req.body.url
    };
    request.post({url: process.env.WordFrequency || awsEndpoints.wordFrequency, form: JSON.stringify(formData)}, function (err, httpResponse, body) {
        if (!err) {
            res.json({error:false, data:JSON.parse(body)});
        } else {
            res.json({error:true, msg:"eh that link didn't work... try again."});
        }
    });
});

//client.js
function wordApi() {
    //show loader
    $("#wordloader").removeClass('hidden');
    document.getElementById("wordResult").innerHTML = "";
    var data = {
        url: document.getElementById("url").value
        };
    //call aws
    $.ajax({
        type: "POST",
        url: '/api/words',
        data: data,
        success: function(result) {
            //hide loader
            $("#wordloader").addClass('hidden');
            if (result.data.errorMessage) {
                document.getElementById("wordResult").innerHTML = "There was an error with that URL... try again.";
            } else {
                document.getElementById("wordResult").innerHTML = "URL: <strong>"+ data.url + "</strong><br><br>" +
                    "Total words: <strong>" + result.data.count.total +
                    "</strong>.<br>Total unique words: <strong>" + result.data.count.unique +
                    "</strong>.<br><br>Most used word: <strong>" + result.data.top.word + "</strong> with <strong>" +
                    result.data.top.count + "</strong> instances.";
            }
        }    
    });
}
</pre>